.hero-slides .single-hero-slide {
  height: 300px;
}

.hero-slides .single-hero-slide .hero-slides-thumb img {
  width: 75%;
}

.hero-slides .single-hero-slide {
  background: linear-gradient(to right, #000000, #f24f00db)
}

.section-padding-100 {

  padding-bottom: 50px;
}

.footer-area .container-footer {
  height: 100px;

}

.breadcumb-area .breadcumb-thumb-area {
  background: linear-gradient(to right, #000000, #f24f00db)
}



.blog-content {

  margin-bottom: 50px;
}

.single-price-table .price.increase::after {

  content: '';
}

.cryptos-prices-table {
  margin-top: 2px;
}